.DS_Store
application/data/
proxy/data/
proxy/conf/conf.d/*.conf
proxy/conf/certs/*.crt
proxy/conf/certs/*.key
proxy/conf/certs/*.pem
proxy/conf/certs/*/


wpclone/wordpress/Search-Replace-DB
wpclone/mariadb/*.sql
