

#wrapper {
	width: 1024px;
}

.header {
	margin: 0 0 0 0;
	padding :10px auto;
}

#content {
	float: left;
	width: 605px;
	padding: 10px;
}

#sidebar {
	float: left;
	width: 300px;
}

.clear {
	clear: both;
}


div#calendar {
	margin:0 0 20px 20px;
	width:280px;
}

div#calendar table.cheader {
	margin:0 0 5px;
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

div#calendar table.cheader td {
	width:30px;
	text-align:center;
}

div#calendar table.cbody {
	border-collapse:collapse;
	border-spacing:0;
	width:280px;
}

div#calendar table.cbody th,
div#calendar table.cbody td {
	padding:5px 0;
	border:1px #999 solid;
	text-align:center;
}

div#calendar table.cbody th {
	background-color:#f5f5f5;
}

div#calendar table.cbody td {
	background-color:#fff;
	color:#333;
}

div#calendar table.cbody td.ctodate {
	background-color:#999;
	color:#fff;
}

div#calendar table.cbody td.csun {
	color:#d00;
}

div#calendar table.cbody td.csat {
	color:#00d;
}
