

#wrapper {
	width: 950px;
}
#content {
	float: left;
	width: 605px;
	margin: 0;
	padding: 0;
}

#sidebar {
	float: right;
	width: 320px;
	margin: 0;
	padding: 0;
}

#footer {
	margin: 0;
	padding: 0;
	background-color: #000000;
}

#footer .copyright {
	margin: 0 auto;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
}

#footer a, #footer a:hover, #footer a:active {
	color: #ffffff;
}

.clear{clear:both}


